{% extends 'layout.html' %}
{% block content %}

<head>    

	
		{% if alert %}
			<script>
				alert("Email id already exist!!!!!")
			</script>
		{% endif %}
	
<title></title>
<!-- meta_tags-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Library Membership form A Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta_tag_Keywords-->
<!--css_files-->
	<link rel="stylesheet" href="../static/register/css/jquery-ui.css"/>
	<link href="../static/register/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
	<link rel="stylesheet" href="css/font-awesome.css"><!--font_wesome_icons-->
	<link href="//fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet"><!--online_fonts-->
	<link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"><!--online_fonts-->
<!--//css_files-->
</head>
<body>
<div class="w3l-head">
<h1>Edit exam</h1>
</div>
<div class="w3ls-form">
<form method="POST">
		<div class="w3l-last-grid1">
			<div class="w3l-grid1">
				<label class="text">Subject</label>
				<div class="w3l-div">
					<i class="" aria-hidden="true"></i>
					<input type="text" name="subname" placeholder="Subject name" required="" value="{{a.subname}}"/>
				</div>
			</div> 
			<div class="w3l-grid2">
				<label class="text">Date</label>
				<div class="w3l-div">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<input type="text" class="date" id="datepicker" name="date" placeholder="Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'MM/DD/YYYY';}" required="" value="{{a.date}}"/>
				</div>
			</div>
			<div class="clear"></div>
		</div>	
		<div class="w3l-last-grid1">
			<div class="w3l-grid1">
				<label class="text">Time</label>
				<div class="w3l-div">
					<i class="" aria-hidden="true"></i>
					<input type="text" name="time" placeholder="Time" required="" value="{{a.time}}"/>
				</div>
			</div>	
			<label class="text">Duration</label>
			<div class="w3l-grid2">
				<div class="w3l-div">
					<i class="" aria-hidden="true"></i>
					<input type="text" name="duration" placeholder="Duration" required="" value="{{a.duration}}"/>
				</div>
			</div>	
			<div class="clear"></div>
		</div>
		<!-- <div class="w3l-last-grid1">
			<div class="w3l-grid1">
				<label class="text">Your Email</label>
				<div class="w3l-div">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="email" name="email" placeholder="e-mail" required=""/>
				</div>
			</div>
			<div class="w3l-grid2">
				<label class="text">phone number</label>
				<div class="w3l-div">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<input type="text" name="contact" placeholder="phone number" required=""/>
				</div>
			</div>
			<div class="clear"></div>
		</div> -->
		<!-- <div class="w3l-last-grid1">
			<div class="w3l-grid1">	
				<label class="text">Password</label>
				<div class="w3l-div">
					<i class="fa-password" aria-hidden="true"></i>
					<input type="text" name="password" placeholder="Enter the Password" required=""/>
				</div>
			</div>
			<div class="w3l-grid2">	
				<label class="text">Admission Number</label>
				<div class="w3l-div">
					<i class="" aria-hidden="true"></i>
					<input type="text" name="admission" placeholder="Enter your admission number " required=""/>
				</div>
			</div>
			<div class="clear"></div>
		</div> -->
		
		<!-- <div class="w3l-right-grid1">
			<div class="w3l-grid1">
				<label class="text">state</label>
				<div class="w3l-div">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<input type="text" name="state" placeholder="state/province" required=""/>
				</div>
			</div>
			<div class="w3l-grid2">
				<label class="text">zipcode</label>
				<div class="w3l-div">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					<input type="text" name="zipcode" placeholder="postal" required=""/>
				</div>
			</div>
			<div class="clear"></div>
		</div> -->
		
		<div class="w3l-right-grid1">
		<div class="w3l-grid1">
			<label class="text">Department</label>
				<div class="w3l-div">
					<i class="" aria-hidden="true"></i>
					<input type="text" name="dept" placeholder="Enter your department" required="" value="{{a.dept}}"/>
				</div>
		</div>	
        
        <div class="w3l-grid1">
        <label class="text">Semester</label>
        <div class="w3l-div">
         <input type="text" name="sem" placeholder="Semester" required="" value="{{a.sem}}"/>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="w3ls-submit">
			<input type="submit" value="SUBMIT">
		</div>
</form>
</div>
<!-- <footer>&copy; 2018 library membership Form. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a></footer> -->

<!-- Default-JavaScript --> <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<!-- Calendar -->
<script src="js/jquery-ui.js"></script>
	<script>
		$(function() {
		$( "#datepicker,#datepicker1" ).datepicker();
		});
	</script>
<!-- //Calendar -->
</body>

{% endblock %}
